/* common */
:root {
    --main-color:#152242;
    --second-color:#40496d;
    --third-color:#00001c;
    --fourth-color:#aeb5cf;
    --logo-color:rgb(219,187,104);
    --white-color:white;
}

main .error {
    display: none;
}

main .success {
    display: none;
}

main .error.active {
    display: block;
    width: 400px;
    height: auto;
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto 20px;
}

main .success.active {
    display: block;
    background: #D4EDDA;
    color: #443e58;
    width: 400px;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto 20px;
}

/* mypage_modify */
/* mypage_withdrawal */
section {
    float: right;
    width: 600px;
    margin-right: 340px;
    text-align: center;
    margin-bottom: 50px;
    /* border: 1px solid gray; */
}

#modify_form, 
#withdrawal_form {
    width: 400px;
    margin: 0 auto;
}

section h2 {
    color: var(--main-color);
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
}

#modify_form h4,
#withdrawal_form h4 {
    font-family: 'Noto Serif KR', serif;
    font-weight: 900;
    font-size: 18px;
    text-align: start;
    margin: 22px 5px 8px 0;
}

#modify_form #member_id,
#modify_form #member_password,
#modify_form #member_password_confirm,
#modify_form #member_name,
#modify_form #member_gender,
#modify_form #member_email,
#modify_form #member_tel,
#withdrawal_form #member_id,
#withdrawal_form #member_password {
    width: 400px;
    height: 35px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    padding-left: 10px;
    font-family: 'Noto Serif KR', serif;
}

#reset_button,
#update_button,
#withdrawal_button {
    display: inline;
    background: var(--main-color);
    color: var(--white-color);
    border-radius: 10px;
    border: none;
    width: 100px;
    height: 45px;
    margin: 50px 15px 0px;
    font-weight: 600;
    font-family: 'Noto Serif KR', serif;
}

#withdrawal_button {
    width: 130px;
    height: 45px;
}

#withdrawal_notice li {
    color: var(--main-color);
    font-family: 'Noto Serif KR', serif;
    font-size: 16px;
}

#withdrawal_notice h3 {
    color: red;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}

#withdrawal_form #checkbox {
    font-family: 'Noto Serif KR', serif;
    font-size: 16px;
    margin-top: 20px;
    accent-color: var(--main-color);
}